html, body {
  background-color: #232020;
  min-width: 500px;
}

header {
  color: #ff7315;
  text-align: center;
  font-size: 3em;
}

#instructions {
  color: white;
}

.instruction {
  padding: 15px;
  margin: 10px 0;
}

